//Let's get some basic colors going

    $white: #F1F1F1;
    $offWhite: #F8F8F8;
    $gray: #F1F1F1;
    $black: #292C2F;
    $green: #8F9E5A;
    $blue: #008CBA;
    $crazyEights: #888888;
    $twentyFive: rgba(25,25,25,0.25);
    
//Set the Base Colour
    
    $baseColour: $green;
